@{
    ViewData["Title"] = "Home Page";
}
<div class="row" style="vertical-align:middle; text-align:center">
    <br />
    <div class="col-md-12">
        <img src="~/images/ask-for-ticket.png" alt="ASP.NET" class="img-responsive img-rounded center-block" />
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <h3>I am a worker</h3>
        <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Register">Register here!</a>
    </div>
    <div class="col-md-6 text-center">
        <h3>I am a solver</h3>
        <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Register">Register here!</a>
    </div>
</div>
